@model MindScribe.ViewModels.EditViewModel.UserEditViewModel;

@{
    ViewData["Title"] = "Edit Page";
}

<div>
    <h3>Форма регистрации</h3>
    <form method="post" asp-controller="AccountManager" asp-action="Update">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="About" class="form-control" />
            <span asp-validation-for="About" class="text-danger"></span>
        </div>
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="submit" value="Сохранить" />
    </form>
</div>