@model MindScribe.ViewModels.MainViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-controller="AccountManager" asp-action="Register">
        <input type="submit" value="Регистрация"/>
    </form>
    <form method="post" asp-controller="AccountManager" asp-action="Login">
        <input type="submit" value="Авторизация" />
    </form>
</div>
